p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.logo {
  height: 150px;
  width: 150px;
  float: right;
}

.join {
  height: 150px;
  width: 200px;
  float: right;
  clear: right;
}

/* webex style */

/* styles for solveme */
.solveme { border: 2px dotted orange; }
.solveme.correct { border: 2px solid green; }
/* styles for hidden solutions */
.solution {
    height: 2em;
    overflow-y: hidden;
    padding: 0.5em;
}
.solution.open {
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.solution button {
    height: 1.5em;
    margin-bottom: 0.5em;
    background-color: rgba(226, 164, 88, .5);
    border-color: rgba(226, 164, 88, 1);
    border-radius: 5px;
}
.solution button:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(226, 164, 88, 1);
}
.solution pre.sourceCode {
    border-color: green;
}

